html {
  background-color: #F3F1F2;
  font-family: 'Ubuntu', sans-serif;
}

header {
  background-color: #353555;
}

nav {
  background-color: #353555;
}

a {
  color: #F3F1F2;
  text-decoration: none;
}

a.nav:hover {
  background-color: #698B9B;
  border-radius: 6px;
}

.index-banner {
  background-image: url(../images/table.jpg);
  min-height: 560px;
  background-size: cover;
  background-position: 50% 0%;
}

.tour-banner {
  background-image: url(../images/beanbagchair.jpg);
  min-height: 560px;
  background-size: cover;
  background-position: 63% 0%;
}

.pricing-banner {
  background-image: url(../images/table2.jpg);
  min-height: 560px;
  background-size: cover;
  background-position: 50% 0%;
}

.sign-up-banner {
  background-image: url(../images/lights.jpg);
  min-height: 560px;
  background-size: cover;
  background-position: 50% 0%;
}

.banner-text {
  background-color: rgba(217, 215, 229, .5);
  border-radius: 6px;
}

h1 {
  color: #353555;
}

h2 {
  color: #353555;
}

h3 {
  color: #F3F1F2;
  background-color: #353555;
}

p {
  background-color: #698B9B;
  color: #F3F1F2
}

.blue {
  background-color: #698B9B;
}

th {
  border: none;
}

td {
  border: none
}

.prices {
  background-color: #698B9B;
  color: #F3F1F2;
}

thead {
  background-color: #353555;
}

.btn {
  color: #F3F1F2;
  background-color: #353555;
  border-color: #353555;
}

footer {
  background-color: #353555;
  color: #F3F1F2;
}

i {
  color: #F3F1F2;
}
