html {
  background-color: #F3F1F2;
  font-family: 'Ubuntu', sans-serif;
}

header {
  background-color: #353555;
}

nav {
  background-color: #353555;
}


a {
  color: #F3F1F2;
  text-decoration: none;
}

.banner {
  background-image: url(../images/table.jpg);
  min-height: 600px;
  background-size: cover;
  background-position: 50% 0%;
}

h1 {
  color: #353555;
}

h2 {
  color: #353555;
}

h3 {
  color: #F3F1F2;
  background-color: #353555;
}

p {
  background-color: #698B9B;
  color: #F3F1F2
}

.btn {
  color: #F3F1F2;
  background-color: #353555;
  border-color: #353555;
}
